{% extends 'base_layout.html' %}

{% block title %}
    GUDLFT Registration
{% endblock %}

{% block content %}
<p>Please enter your secretary email to continue:</p>
<form action="show-summary" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email"/>
    <button class="btn btn-outline-secondary btn-sm" type="submit">Enter</button>
</form>

<hr>
<p>Are you curious about the total points of all clubs? Then <a href="{{ url_for('dashboard') }}">go to dashboard</a></p>
{% endblock %}
